@import '~theme.scss';
@import '~palette.scss';

/* Variables */
$primary:       map-get($theme, primary);
$accent:        map-get($theme, accent);
$warn:          map-get($theme, warn);
$accent-light:  mat-palette($md-elastestorange, 200, 300, 100);

.md-headline {
    font-size: 28px !important;
    &.small {
        font-size: 20px !important;
    }
}

.testicons {
    font-size: 46px !important;
}

/* :host /deep/ lets shadowdom style child elements */
:host /deep/ {

    md-select .mat-select-trigger {
        bottom: 6px !important;
    }

    span.td-data-table-heading {
        font-size: 13px;
        font-weight: unset;
        color: #4352a8;
    }

    .md-caption.td-paging-bar {
        color: #4352a8;
        font-size: small;
    }

    md-select .mat-select-trigger {
        min-width: 44px;
        color: mat-color($primary);
        font-weight: 700;
    }

    .testlink-select {
        width: 300px;
    }

    .push-bottom {
        margin-top:5%;
    }

    tr.td-data-table-row {
        &:hover {
            background-color: mat-color($accent-light) !important;
        }
    }


    span.pull-right {
        position: absolute;
        left: 75%;
    }


    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
      flex-basis: 0;
    }

    .example-headers-align .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
    }

}