<td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content class="full-min-width">
        <span>Projects</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')" *tdLoading="'projectsLoader'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
        <ng-template let-project let-last="last" ngFor [ngForOf]="projects" let-i="index">
            <a md-list-item (click)="changeSelectedProject(project)" [ngStyle]="{ 'background-color': project?.bgcolor,  'color': project?.color}">
                <md-icon [ngStyle]="{ 'color': project?.color}" mdListIcon>folder_special</md-icon> {{project.prefix}}: {{project.name}}
            </a>
        </ng-template>
    </md-nav-list>
    <md-toolbar>
        <div layout="row" layout-align="start center" flex>
            <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
                <md-icon>arrow_back</md-icon>
            </button>
            <span>Dashboard</span>
            <span flex></span>
            <button mdTooltip="Settings" md-icon-button>
                <md-icon>settings</md-icon>
            </button>
        </div>
    </md-toolbar>
    <div layout="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']" *tdLoading="'mainDashboardLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
        <div flex="50" layout="column">
            <md-card class="md-card-colored" flex>
                <md-card-content class="text-center">
                    <div class="md-headline">
                        <md-icon class="tc-grey-700">account_circle</md-icon>
                        José luis García
                        <div class="md-caption tc-grey-600">email@email.com</div>
                    </div>
                    <md-icon class="icon tc-green-300 testicons">verified_user</md-icon>
                    <div layout="column">
                        <div class="md-subhead">Tester </div>
                        <div class="md-caption tc-grey-600">updated {{ '2016-06-17 12:59:59' | timeAgo }}</div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex="50" layout="column">
            <md-card class="md-card-colored" flex>
                <md-card-content class="text-center">
                    <div class="md-headline small" style="text-align: left;">
                        <md-icon class="tc-grey-700">description</md-icon>
                        Test Plan
                    </div>
                    <div *tdLoading="'testPlanLoader'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
                        <div layout="column" *ngIf="testplans?.length > 0; else noPlanTemplate">
                            <form>
                                <md-select style="text-align: left;" color="accent" class="testlink-select testlink-center push-bottom border-bottom" placeholder="Select test plan"
                                    [(ngModel)]="selectedTestPlan" name="food" (change)="change($event.value)" required>
                                    <md-option *ngFor="let plan of testplans" [value]="plan">
                                        {{plan.id}}: {{plan.name}}
                                    </md-option>
                                </md-select>
                            </form>
                        </div>
                    </div>
                    <ng-template #noPlanTemplate>
                        <span class="push-left-sm md-title">
                            <div layout="row" layout-align="center center">
                                <md-icon mdListAvatar>info_outline</md-icon>
                                <h3 mdLine class="push-left-sm md-title">No Test Plans created yet.</h3>
                            </div>
                            <span flex="30" class="md-body-1 tc-grey-500">Select other project in the left bar.</span>
                            <br>
                        </span>
                    </ng-template>
                </md-card-content>
            </md-card>
        </div>
    </div>
    <div layout="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">

        <md-card class="md-card-colored" flex>
            <md-card-content class="text-center">
                <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
                    <span *ngIf="!searchBox.searchVisible" class="push-left-sm md-title">
                        <md-icon class="tc-grey-700">chrome_reader_mode</md-icon>
                        Test cases by build
                    </span>
                    <button *ngIf="!searchBox.searchVisible" class="push-right-own" md-raised-button color="accent" (click)="toggleOpened()">{{optionalText}}</button>
                    <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm tc-orange-700" placeholder="Search here" (searchDebounce)="search($event)"
                        flex>
                    </td-search-box>
                </div>
                <md-divider></md-divider>
                <md-accordion class="example-headers-align" *tdLoading="'buildsLoader'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'">
                    <ng-template #mainTemplate let-build ngFor [ngForOf]="builds" *ngIf="builds?.length >0; else noBuildsTemplate">
                        <testlink-plugin-test-build [build]="build" [opened]="opened">
                        </testlink-plugin-test-build>
                    </ng-template>
                    <ng-template #noBuildsTemplate>
                        <span class="push-left-sm md-title">
                            <div layout="row" layout-align="center center">
                                <md-icon mdListAvatar>info_outline</md-icon>
                                <h3 mdLine class="push-left-sm md-title">No builds created yet.</h3>
                            </div>
                            <span flex="30" class="md-body-1 tc-grey-500">Select other testplan or project.</span>
                            <br>
                        </span>
                    </ng-template>
                    <!-- <div class="md-padding" *ngIf="selectedProject?.testPlans?.length === 0;else mainTemplate" layout="row" layout-align="center center">
                        <h3>No Test Plans created yet.</h3>
                    </div>
                    <ng-template #mainTemplate let-plan ngFor [ngForOf]="selectedProject?.testPlans">
                        <testlink-plugin-test-plan *ngIf="plan?.builds;else secondTemplate" [builds]="plan.builds" [plan]="plan" [opened]="opened">
                        </testlink-plugin-test-plan>
                        <ng-template #secondTemplate><h3>No Builds created yet for testPlan: ID->{{plan.id}}; name->{{plan.name}}</h3></ng-template>
                    </ng-template> -->
                </md-accordion>
                <md-divider></md-divider>
            </md-card-content>
        </md-card>
        <md-card *ngIf="!selectedProject" class="md-card-colored" flex>
            <md-card-content class="text-center">
                SELECT PROJECT ON THE LEFT BAR
            </md-card-content>
        </md-card>
    </div>
    <td-layout-footer-inner>
        Optional inner footer
    </td-layout-footer-inner>
</td-layout-manage-list>