@import '~theme.scss';
@import '~palette.scss';

/* Variables */
$primary:       map-get($theme, primary);
$accent:        map-get($theme, accent);
$warn:          map-get($theme, warn);
$accent-dark:  mat-palette($md-elastestorange, 900, 800, 300);


md-nav-list {
    .mat-list-item.active {
        md-icon {
             color: mat-color($accent);
        }
    }
}

/* :host /deep/ lets shadowdom style child elements */
:host /deep/ {
    md-form-field {
        .mat-form-field-underline {
            background-color: mat-color($primary) !important;
        }
        .mat-form-field-ripple { // Acts like &:focus
            background-color: mat-color($accent);
        }
        &.ng-invalid.ng-touched {
           .mat-form-field-underline .mat-form-field-ripple {
                background-color: mat-color($warn);
            }
            .mat-form-field-placeholder {
                color: mat-color($warn) ;
            }
        }
        &.mat-focused {
            .mat-form-field-placeholder {
                color: mat-color($accent) ;
            }
        }
        .mat-form-field-placeholder {
            color: mat-color($primary) ;
        }
    }

    md-card-header.textIcon {
        .mat-icon {
            background-repeat: no-repeat;
            display: inline-block;
            fill: currentColor;
            height: 49px;
            width: 96px;
            /* top: 12px; */
            padding-right: -5px;
            margin-top: 10px;
        }

        .mat-card-header-text {
            margin: 0px 28px;
        }
    }

    .mat-raised-button.mat-accent {
        color: white;
        font-weight: 700;
        &:hover {
            background-color: mat-color($primary) !important;
        }
    }

    .hoverable-action-button {
        color: white !important;
        font-weight: 700;
        background-color: mat-color($accent) !important;
        &:hover {
            background-color: mat-color($primary) !important;
        }
        &:disabled {
            background-color: rgba(0, 0, 0, 0.12) !important;
        }
    }

    // Custom utils for testlink-plugin deep DOM
    .testlink-center {
        margin: auto;
    }

    .push-right {
        position: absolute;
        left: 80%;
    }

    .border-bottom {
       &:focus {
            border-bottom: 1px solid mat-color($accent) !important;
       }
       border-bottom: 1px solid mat-color($primary) !important;
    }

    .testlink-elevation {
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    }


    .mat-dialog-container {
        padding: 0px !important;
    }

    .full-min-width {
        min-width: 100% !important;
    }
}

/*Welcome*/

.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}
.logos {
   @media screen and (min-width : 752px) {
      max-width: 15%;
   }
    max-width: 25%;
}

.pull-on-xs {
  @media screen and (max-width : 752px) {
      margin-left: 13%;
   }
}
