@import '~theme.scss';
@import '~palette.scss';

/* Variables */
$primary:       map-get($theme, primary);
$accent:        map-get($theme, accent);
$warn:          map-get($theme, warn);
$accent-dark:  mat-palette($md-elastestorange, 900, 800, 300);
/* :host /deep/ lets shadowdom style child elements */
:host /deep/ {
    /**
    * CSS Overrides for bug fixes
    */
    .mat-icon.md-icon-logo {
        height: 51px;
        width: 121px;
    }


    /**
    * END CSS Overrides for bug fixes
    */
}