 <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
      <md-card>
        <md-card-title>New Instance</md-card-title>
        <md-card-subtitle>connects to TestLink instance</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <!-- card content -->
          <td-dynamic-forms #customValidateForm [elements]="multipleValidatorTypes">
            <ng-template let-control="control" [tdDynamicFormsError]="'serverElement'">
              <span *ngIf="control.touched || !control.pristine">
              <span *ngIf="control.hasError('required')">Required.</span>
              <span *ngIf="control.hasError('correctExt') && !control.hasError('required')">Need a xmlrpc.php document.</span>
              </span>
            </ng-template>
          </td-dynamic-forms>
          <!-- ./card content -->
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
          <button md-raised-button color="primary" class="text-upper" (click)="createInstance()" [routerLink]="['/testlink-plugin/login']" [disabled]="!customValidateForm.valid">
                <span>Create Instance</span>
          </button>
        </md-card-actions>
      </md-card>
    </div>
  </div>