@import '~theme.scss';
@import '~palette.scss';

/* Variables */
$primary:       map-get($theme, primary);
$accent:        map-get($theme, accent);
$warn:          map-get($theme, warn);
$accent-dark:  mat-palette($md-elastestorange, 900, 800, 300);

.img-logo-login {
    display: block;
    margin: auto;
    width: 40%;
}