<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="50">
        <md-card>
            <md-card-title>Instance 1</md-card-title>
            <md-card-subtitle>TestLink Server - http://localhost:8080//testlink....</md-card-subtitle>
            <md-divider></md-divider>
            <md-card-content>
                <!-- card content -->
                <ng-template>

                </ng-template>
                <!-- ./card content -->
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
                <button md-raised-button color="primary" class="text-upper" [routerLink]="['/testlink-plugin/login']">
                <span>Access</span>
          </button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-gt-sm="50">
        <md-card>
            <md-card-header class="textIcon">
                <div md-card-avatar>
                    <md-icon svgIcon="assets:testlink"></md-icon>
                </div>
                <md-card-title> Instance 1</md-card-title>
                <md-card-subtitle> TestLink Server - http://localhost:8080//testlink....</md-card-subtitle>
            </md-card-header>

            <md-divider></md-divider>
            <md-card-content>
                <!-- card content -->
                <md-list>
                    <md-list-item>
                        <md-icon mdListIcon>folder</md-icon>
                        <h3 mdLine> Project - Android app </h3>
                        <p mdLine>
                            <span> description if description ... </span>
                            <span class="demo-2"> -- test plan, suite </span>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon mdListIcon>folder</md-icon>
                        <h3 mdLine> Project - IOS app </h3>
                        <p mdLine>
                            <span> description if description ... </span>
                            <span class="demo-2"> -- test plan, suite </span>
                        </p>
                    </md-list-item>
                </md-list>
                <!-- ./card content -->
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
                <button md-raised-button color="primary" class="text-upper" [routerLink]="['/testlink-plugin/login']">
                <span>Access</span>
          </button>
            </md-card-actions>
        </md-card>
    </div>
    <div flex-gt-sm="50">
        <md-card>
            <md-card-title>Instance 1</md-card-title>
            <md-card-subtitle>TestLink Server - http://localhost:8080//testlink....</md-card-subtitle>
            <md-divider></md-divider>
            <md-card-content>
                <!-- card content -->
                <ng-template>

                </ng-template>
                <!-- ./card content -->
            </md-card-content>
            <md-divider></md-divider>
            <md-card-actions>
                <button md-raised-button color="primary" class="text-upper" [routerLink]="['/testlink-plugin/login']">
                <span>Access</span>
          </button>
            </md-card-actions>
        </md-card>
    </div>
</div>