@import '~theme.scss';
@import '~palette.scss';

/* Variables */
$primary:       map-get($theme, primary);
$accent:        map-get($theme, accent);
$warn:          map-get($theme, warn);
$accent-light:  mat-palette($md-elastestorange, 200, 300, 100);


/* :host /deep/ lets shadowdom style child elements */
:host /deep/ {

    md-expansion-panel .mat-expanded {
        margin-bottom: 15px;
        margin-top: 15px;
    }

}