<md-expansion-panel>
    <md-expansion-panel-header>
        <md-panel-title>
            Personal data
        </md-panel-title>
        <md-panel-description>
            Type your name and age
        </md-panel-description>
    </md-expansion-panel-header>
    <form class="md-padding" class="testlink-elevation">
        <div layout="row" flex>
            <td-data-table #dataTable [data]="filteredBuilds" [columns]="columns" [selectable]="false" [clickable]="true" [multiple]="false"
                [sortable]="true" [sortBy]="sortBy" [sortOrder]="sortOrder" (sortChange)="sort($event)" (rowClick)="showAlert($event)"
                [style.height.px]="filteredBuilds.length * 100 "  style="width: 100% !important;">

            </td-data-table>
            <div class="md-padding" *ngIf="!dataTable.hasData" layout="row" layout-align="center center">
                <h3>No results to display.</h3>
            </div>
        </div>
        <div layout="row">
            <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
                <span class="pull-right">
                    Showing {{pagingBar.range}}
                    <span hide-xs>of {{pagingBar.total}}</span>
                </span>
                <span hide-xs>
                    Showing
                    <md-select [style.width.px]="50" [(ngModel)]="pageSize" [ngModelOptions]="{standalone: true}">
                        <md-option *ngFor="let size of [5,50,100,200,500]" [value]="size">
                            {{size}}
                        </md-option>
                    </md-select>
                    entries
                </span>
            </td-paging-bar>
        </div>
    </form>
    <md-divider></md-divider>
    <md-action-row>
        <button md-button color="warn" (click)="prevStep()">Previous</button>
        <button md-button color="primary" (click)="nextStep()">End</button>
    </md-action-row>
</md-expansion-panel>