 <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
      <md-card>
        <md-card-title>Login</md-card-title>
        <md-card-subtitle>login into: http://localhost:4000/</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-content>
          <!-- card content -->
          <td-dynamic-forms #customValidateForm [elements]="loginFormControls">
            <ng-template let-control="control" [tdDynamicFormsError]="'apiKeyElement'">
              <span *ngIf="control.touched || !control.pristine">
              <span *ngIf="control.hasError('required')">Required.</span>
              <span *ngIf="control.hasError('correctExt') && !control.hasError('required')">Invalid symbol.</span>
              </span>
            </ng-template>
          </td-dynamic-forms>
          <!-- ./card content -->
        </md-card-content>
        <md-divider></md-divider>
        <md-card-actions>
          <button md-raised-button color="primary" class="text-upper" [routerLink]="['/']" [disabled]="!customValidateForm.valid">
                <span>Login</span>
          </button>
        </md-card-actions>
      </md-card>
    </div>
  </div>